<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.mateus.sugarme">

    <application
        android:name=".Utils.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.CadastroActivity" />
        <activity android:name=".View.MedicoActivity" />
        <activity
            android:name=".View.MedicalInfoActivity"
            android:label="@string/title_activity_medical_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.PacienteActivity"
            android:label="@string/title_activity_paciente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.IntercorrenciaActivity" />
        <activity android:name=".View.IntercorrenciaInfo" />
        <activity
            android:name=".View.PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.DiarioGlicemicoActivity"
            android:label="@string/title_activity_diario_glicemico"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>