<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.mateus.sugarme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Singleton.UserSingleton"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.CadastroActivity" />
        <activity
            android:name=".View.MedicoActivity"
            android:label="@string/title_activity_paciente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.PerfilEditActivity"
            android:label="@string/title_activity_medical_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.PacienteActivity"
            android:label="@string/title_activity_paciente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.IntercorrenciaAddActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.DiarioGlicemicoActivity"
            android:label="@string/title_activity_diario_glicemico"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.HistoricoDiarioActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.IntercorrenciaActivity"
            android:label="@string/title_activity_intercorrencia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.ExameActivity"
            android:label="@string/title_activity_exame"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.ExameAddActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.VinculoActivity"
            android:label="@string/title_activity_vinculo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.VinculoAddActivity"
            android:label="@string/title_activity_vinculo_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.FotoPerfilActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.VinculoChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.ConfigurarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.VinculoChatMedicoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.PacientesVinculadosActivity"></activity>
    </application>

</manifest>